@import "../variable.scss";

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 220px;

    h1 {
        margin: 0;
        color: $gray;
        line-height: 1.5em;
    }

    p {
        color: $gray-light;
    }

    .invite {
        width: 60%;
        border: 1px solid $gray;
        color: $gray;
        background: white;
        line-height: 3em;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            background: $gray-light;
            color: white;
            outline: none
        }
    }
}