@import "../variable.scss";

.mask {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: .5);
}

.modal {
    position: fixed;
    display: flex;
    z-index: 2;
    // justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    max-width: 80vw;
    width: 400px;
    height: 400px;
    background: white;

    .modal-title {
        color: $gray;
        font-style: italic;
        font-size: 18px;
        margin-bottom: 50px;
    }

    .modal-body {
        color: $gray;
        text-align: center;
        line-height: 2em;
    }

    .fields {
        box-sizing: border-box;
        width: 100%;
        height: 30px;
        margin: 6px;
        padding: 0 6px;

        &.highlight {
            border-color: red
        }
    }

    .submit {
        width: 100%;
        height: 36px;
        margin-top: 60px;
        margin-bottom: 20px;
        border: 1px solid $gray;
        color: $gray-dark;
        background: white;

        &.disabled {
            cursor: not-allowed;
            border: 1px solid $gray-lighter;
            color: $gray-lighter;
        }
    }

    .error {
        margin: 5px 0;
        color: red;
        font-style: italic;
    }
}