@import "../variable.scss";

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $normal-height;
    border-bottom: 1px solid $gray-light;
    background: white;
    padding-left: 40px;

    h3 {
        margin: 0;
        color: $gray-light;
        line-height: $normal-height;
    }
}