@import "./variable.scss";

.wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: $normal-height;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}