@import "../variable.scss";

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $normal-height;
    border-top: 1px solid $gray-light;
    background: white;
    text-align: center;

    p {
        font-size: 14px;
        line-height: 16px;
        margin: 0;
        color: $gray-light;
    }
}